html {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.cent {
  width: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background: rgba(6, 58, 119, 0.99);
  font-size: 13px;
  color: white;
  padding-right: 15px;
}

#about {
  width: 100%;
  height: 180px;
  left: 0px;
  top: 82px;
  background: #f4f2f2;
  font-weight: bolder;
  text-align: center;
  padding: 0.7cm;
}

.hover {
  padding: 1.5%;
}
.hover:hover {
  color: #e71862;
  font-weight: bolder;
}

body {
  margin: 0cm;
}

.split {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

h2 {
  display: flex;
  align-items: flex-start;
}

h3 {
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 965px;
  background: rgba(6, 58, 119, 0.99);
  font-size: 13px;
  color: white;
}

hr {
  border-color: rgba(6, 58, 119, 0.99);
  width: 80%;
}

h2 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  font-weight: 300;
  font-size: 35px;
  line-height: px;
  letter-spacing: -0.02em;
  color: #000000;
}

h3 {
  font-weight: 300;
  font-size: 25px;
  line-height: 57px;
  letter-spacing: -0.02em;
}

fieldset {
  position: absolute;
  width: 826px;
  height: 425px;
  left: 260px;
  top: 370px;
  border: 2px solid rgba(6, 58, 119, 0.99);
  box-sizing: border-box;
  border-radius: 20px;
}

nav {
  margin-left: 0px;
  padding: 1%;
}

.foto {
  position: absolute;
}

#foto1 {
  left: 100px;
  top: 50px;
  width: 7%;
}

#foto2 {
  left: 300px;
  top: 60px;
  width: 8%;
}

#foto3 {
  left: 400px;
  top: 65px;
  width: 12%;
}

#foto4 {
  left: 500px;
  top: 38px;
  width: 18%;
}

#input {
  position: absolute;
  width: 648px;
  height: 57px;
  left: 100px;
  top: 180px;
  font-size: 25px;
  background: #c4c4c4;
  border-radius: 5px;
  border: solid #c4c4c4 3px;
  color: black;
  font-family: "Ubuntu", sans-serif;
}

#verify {
  position: absolute;
  width: 200px;
  height: 44px;
  left: 310px;
  top: 320px;
  background: #e71862;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: white;
  border: solid #e71862 2px;
}

::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

.right {
  float: right;
}

.left {
  float: left;
}

#valido {
  display: none;
  position: absolute;
  width: 515px;
  height: 40px;
  left: 152px;
  top: 260px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.02em;

  color: green;
}

#invalido {
  display: none;
  position: absolute;
  width: 515px;
  height: 40px;
  left: 151px;
  top: 260px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: red;
}
